.base-section-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 1000px) {
  .base-section-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .faq {
    order: 2;
  }
}
