@use "@scss/_mixins/container-queries" as *;

.advantages {
  container: advantages-container / inline-size;

  .base-section__header {
    @include container-up("advantages-container", 1000px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .swiper {
    &-slide {
      max-width: 240px;

      @include container-up("advantages-container", 740px) {
        max-width: 320px;
      }

      &:nth-child(odd) {
        .advantages__item {
          background-color: var(--info);
          color: var(--white);
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: clamp(20px, 4.5vw, 30px) clamp(20px, 6vw, 30px);
    min-height: 247px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--light);
    border-radius: var(--border-radius-md);
    overflow: hidden;

    &-name {
      display: flex;
      gap: 8px;
      margin-bottom: auto;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;

      &::before {
        content: "";
        min-width: 16px;
        height: 16px;
        mask-image: url("@img/icon-sun.svg");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        background-color: var(--primary);
      }
    }

    &-value {
      font-size: 64px;
      line-height: 72px;
    }

    &-desc {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
