@use "@scss/_mixins/container-queries" as *;

.advantages {
  container: advantages-container / inline-size;

  .base-section__header {
    @include container-up("advantages-container", 1000px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .swiper {
    &-slide {
      max-width: 240px;

      @include container-up("advantages-container", 740px) {
        max-width: 320px;
      }

      &:nth-child(odd) {
        .base-card {
          background-color: var(--info);
          color: var(--white);
        }
      }
    }
  }

  .base-card {
    aspect-ratio: 3/2;
  }
}
