.advantages {
  &__header {
  }

  .swiper {
    &-slide:nth-child(odd) {
      .advantages__item {
        background-color: var(--info);
        color: var(--white);
      }
    }
  }
}

.advantage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: 345px;
  min-height: 247px;
  background-color: var(--light);
  border-radius: var(--border-radius-md);

  &__name {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      mask-image: url("@img/icon-sun.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      background-color: var(--primary);
    }
  }

  &__value {
    font-size: 64px;
    line-height: 72px;
  }

  &__desk {
    font-size: 16px;
    line-height: 18px;
  }
}
