@use "@scss/_mixins/container-queries" as *;

$base-section-offset: clamp(24px, 2vw, 40px);
$base-section-header-offset: clamp(20px, 3.6vw, 40px);

.base-section {
  padding: $base-section-offset 0;

  container: base-section-container / inline-size;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: $base-section-header-offset;

    @include container-up("base-section-container", 1000px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &-main {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include container-up("base-section-container", 1000px) {
        max-width: 600px;
      }
    }

    &:has(.base-title + .base-text) .base-title {
      margin-bottom: 12px;
    }
  }

  &__headline {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url("@img/icon-sun.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
