$base-section-offset: clamp(24px, 2vw, 40px);
$base-section-header-offset: clamp(20px, 3.6vw, 40px);

.base-section {
  padding: $base-section-offset 0;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: $base-section-header-offset;

    &:has(.base-title + .base-text) .base-title {
      margin-bottom: 12px;
    }
  }

  &__headline {
    font-weight: 400;
    font-size: 18px;
  }
}
