// fonts
:root {
  --primary-font: "Nunito Sans", sans-serif;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #00a5f5;

  --info: #001822;

  --light: #f7f9fc;
  --danger: #c9706f;
  --success: green;
  --grey: #a6a6a6;
}

// containers
:root {
  --content-width: 1440px;
  --container-offset: clamp(20px, 2vw, 60px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-fluid-width: 1920px;
  --container-fluid-offset: 0;
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );
}

// transitions
:root {
  --main-transition: 0.15s linear;
}

// site-base-options
:root {
  --site-base-font-family: var(--primary-font);
  --site-base-font-weight: 400;
  --site-base-font-size: clamp(16px, 2.2vw, 18px);
  --site-base-line-height: 1.2;
  --site-base-letter-spacing: 0.001em;
  --site-base-text-color: var(--info);
  --site-bg-color: var(--white);
}

// scrollbar
:root {
  --scrollbar-color: var(--light);
  --scrollbar-width: 8px;
  --scrollbar-height: 6px;
  --scrollbar-border-radius: 8px;
  --scrollbar-thumb-color: var(--secondary);
  --scrollbar-thumb-border-radius: 8px;
}

// offsets
:root {
  --base-grid-offset: clamp(20px, 3.2vw, 40px);
}

// utils
:root {
  --base-border-radius: 30px;
  --border-radius-sm: 10px;
  --border-radius-md: 20px;
}
