@forward "@scss/_extends/effects.scss";

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 150px;
  padding: 12px clamp(16px, 3vw, 24px);
  min-height: 48px;
  font-size: clamp(16px, 2.4vw, 18px);
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: var(--base-border-radius);
  background-color: transparent;
  color: var(--white);
  background-color: var(--secondary);
  box-shadow: none;
  transition:
    box-shadow var(--main-transition),
    background-color var(--main-transition),
    color var(--main-transition),
    border-color var(--main-transition);

  &--outlined {
    border-color: var(--secondary);
    color: var(--secondary);
    background-color: transparent;

    svg {
      fill: var(--secondary);
    }
  }

  @media (hover: hover) {
    &.main-btn--outlined:hover {
      color: var(--white);
      background-color: var(--secondary);

      svg {
        fill: var(--white);
      }
    }

    &:hover {
      box-shadow: var(--base-box-shadow);
    }
  }

  &.main-btn--outlined:focus {
    color: var(--white);
    background-color: var(--secondary);

    svg {
      fill: var(--white);
    }
  }

  &:focus {
    box-shadow: var(--base-box-shadow);
  }
}
