@forward "@scss/_extends/effects.scss";

.main-checkbox-wrapper {
  label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--site-base-font-family);
    font-size: clamp(16px, 2.2vw, 18px);
    font-weight: 500;
    width: 100%;
    color: var(--dark);
    cursor: pointer;

    span {
      font-size: 14px;
      line-height: 1;
      text-align: left;
      color: var(--dark);
    }

    a {
      font-weight: 400;
      text-decoration: underline;
      color: var(--primary);

      @extend %hover-opacity;
    }

    &::before {
      position: relative;
      content: "";
      width: 16px;
      height: 16px;
      aspect-ratio: 1/1;
      border: 1px solid var(--secondary);
      border-radius: 2px;
    }
  }

  input {
    display: none;
  }

  &:has(input:checked) label::before {
    background-image: url("@img/icon-checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
  }

  /* purgecss start ignore */
  &.invalid-fld {
    label {
      &::before {
        border-color: var(--danger);
      }
      span {
        color: var(--danger);
      }
    }

    animation: shaker var(--main-transition);
  }
  /* purgecss end ignore */
}
