@forward "@scss/_extends/effects.scss";

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 150px;
  min-height: 48px;
  padding: clamp(12px, 2vw, 18px) clamp(16px, 3vw, 40px);
  background-color: var(--primary);
  border: 1px solid transparent;
  border-radius: var(--border-radius-xl);
  color: var(--white);
  font-weight: 700;
  font-size: clamp(18px, 2.6vw, 20px);
  line-height: 1;
  font-family: var(--primary-font);

  &--secondary {
    background-color: var(--info);
  }
}

.double-btn {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  min-height: 48px;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0;

  span:first-child {
    padding: clamp(12px, 2vw, 18px) clamp(16px, 3vw, 40px);
    font-family: var(--primary-font);
    font-size: clamp(18px, 2.6vw, 20px);
    line-height: 1;
    font-weight: 700;
    background-color: var(--info);
    color: var(--white);
    border-radius: var(--border-radius-xl);
  }

  span:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: auto;
    height: 100%;
    max-width: fit-content;
    background-color: var(--primary);
    border-radius: 50%;

    svg {
      width: 26px;
      height: 26px;
      fill: var(--white);
      transform: rotate(-45deg);
    }
  }
}
