@forward "@scss/_extends/effects.scss";

.main-checkbox-wrapper {
  label {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 34px;
    font-family: var(--site-base-font-family);
    font-weight: 500;
    width: 100%;
    color: var(--dark);
    cursor: pointer;

    span {
      font-size: 16px;
      line-height: 1;
      text-align: left;
      color: var(--dark);
    }

    a {
      font-weight: 400;
      text-decoration: underline;
      color: var(--primary);

      @extend %hover-opacity;
    }

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 20px;
      height: 20px;
      aspect-ratio: 1/1;
      border: 1px solid var(--primary);
      border-radius: 4px;
      background-color: transparent;
    }
  }

  input {
    display: none;
  }

  &:has(input:checked) label::before {
    background-color: var(--primary);
  }

  &:has(input:checked) label::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
    width: 16px;
    height: 16px;
    aspect-ratio: 1/1;
    mask-image: url("@img/icon-checkbox.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px;
    background-color: var(--white);
  }

  /* purgecss start ignore */
  &.invalid-fld {
    label {
      &::before {
        border-color: var(--danger);
      }
      span {
        color: var(--danger);
      }
    }

    animation: shaker var(--main-transition);
  }
  /* purgecss end ignore */
}
