.main-textarea-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  textarea {
    font-family: var(--site-base-font-family);
    width: 100%;
    height: 100%;
    min-height: 120px;
    resize: none;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid var(--light);
    border-radius: var(--base-border-radius);
    background-color: var(--lighter);
    box-shadow: var(--base-box-shadow);
    color: var(--dark);

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px var(--secondary) inset !important;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      color: var(--dark);
      width: 100%;
    }
  }

  /* purgecss start ignore */
  &.invalid-fld {
    textarea {
      border: 1px solid var(--danger);
      animation: shaker var(--main-transition);

      &::placeholder {
        color: var(--danger);
      }
    }
  }
  /* purgecss end ignore */
}
