.price {
  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: clamp(30px, 5vw, 70px);
  }

  .main-toggle-wrapper {
    order: 2;
  }

  .swiper {
    &-slide {
      display: none;
      height: auto;
      max-width: clamp(256px, 50vw, 474px);

      &.active {
        display: flex;
      }

      &--odd {
        .price-card {
          color: var(--white);
          background-color: var(--primary);
        }

        .content {
          li::before {
            background-image: url("@img/icon-li-white.svg");
          }
        }

        .strong {
          color: var(--white);
        }

        .main-btn {
          background-color: var(--info);
        }
      }
    }
  }

  &__toggle {
    display: flex;
    align-items: center;

    & > span:nth-child(2) {
      order: 3;
    }

    .main-toggle-wrapper {
      order: 2;
    }
  }
}

.price-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: clamp(20px, 3vw, 40px);
  background-color: var(--light);
  border-radius: (var(--base-border-radius));

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;

    & > b {
      font-size: clamp(32px, 3vw, 50px);
      font-weight: 800;
    }
  }

  h3 {
    margin: 0;
  }

  .main-btn {
    min-height: 50px;
    width: 100%;
    max-width: 100%;
    margin-top: auto;
  }
}

.main-toggle-wrapper {
  input {
    display: none;
  }

  label {
    cursor: pointer;
  }

  span {
    position: relative;
    display: block;
    width: 75px;
    height: 40px;
    border-radius: 100px;
    background-color: var(--primary);
  }

  span::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--white);
    left: 5px;
    top: 50%;
    transform: translate(0, -50%);
  }

  input:checked + span::before {
    transform: translate(37px, -50%);
  }
}
